/* Basic reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	background-color: #f7f7f7;
	color: #333;
	display: flex;
	justify-content: center;
	padding: 20px;
}

.dashboard {
	/* display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 20px;
	max-width: 1200px;
	width: 100%; */
}

.widget {
	background-color: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	text-align: center;
}

#nasa-widget {
	width: 75%;
	height: 30rem;
}

#nasa-image {
	width: 40rem;
	height: 100%;
	object-fit: cover;
}

.analog-clock-widget {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.clock {
	position: relative;
	width: 220px;
	height: 220px;
	border: 10px solid #333;
	border-radius: 50%;
	background: radial-gradient(circle at center, #f9f9f9, #eee);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	margin-top: 1rem;
}

/* Hands */
.hand {
	position: absolute;
	bottom: 50%;
	left: 50%;
	transform-origin: bottom;
	transform: translateX(-50%) rotate(0deg);
}

.hour {
	width: 6px;
	height: 50px;
	background-color: #222;
	z-index: 3;
}

.minute {
	width: 4px;
	height: 70px;
	background-color: #555;
	z-index: 2;
}

.second {
	width: 2px;
	height: 90px;
	background-color: red;
	z-index: 1;
}

/* Center dot */
.center-dot {
	position: absolute;
	width: 12px;
	height: 12px;
	background: #000;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 5;
}

/* Numbers */
.number {
	position: absolute;
	font-size: 1.1rem;
	font-weight: bold;
	color: #111;
}

.number12 {
	top: 8px;
	left: 50%;
	transform: translateX(-50%);
}
.number3 {
	top: 50%;
	right: 8px;
	transform: translateY(-50%);
}
.number6 {
	bottom: 8px;
	left: 50%;
	transform: translateX(-50%);
}
.number9 {
	top: 50%;
	left: 8px;
	transform: translateY(-50%);
}

h2 {
	margin-bottom: 15px;
}

button {
	background-color: #4caf50;
	color: white;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
}

button:hover {
	background-color: #45a049;
}

input {
	padding: 10px;
	margin: 5px 0;
	width: 80%;
	border-radius: 5px;
	border: 1px solid #ddd;
}

#cat-image {
	max-width: 100%;
	height: auto;
	margin-top: 10px;
}

.flex-row {
	display: flex;
}

.flex-colum {
	display: flex;
	flex-direction: column;
}
