.analog-clock-widget {
	display: flex;
	flex-direction: column;
	height: 22.5rem;
	min-width: fit-content;
}

.clock {
	position: relative;
	width: 220px;
	height: 220px;
	border-radius: 50%;
	margin: auto;
}

/* Hands */
.hand {
	position: absolute;
	bottom: 50%;
	left: 50%;
	transform-origin: bottom;
	transform: translateX(-50%) rotate(0deg);
}

.hour {
	width: 6px;
	height: 50px;
	z-index: 3;
}

.minute {
	width: 5px;
	height: 75px;
	z-index: 2;
}

.second {
	width: 2px;
	height: 90px;
	background-color: #ffb6b6;
	z-index: 1;
}

/* Center dot */
.center-dot {
	position: absolute;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 5;
}

/* Numbers */
.number {
	position: absolute;
	font-size: 1.1rem;
	font-weight: bold;
}

.number12 {
	top: 8px;
	left: 50%;
	transform: translateX(-50%);
}

.number3 {
	top: 50%;
	right: 8px;
	transform: translateY(-50%);
}

.number6 {
	bottom: 8px;
	left: 50%;
	transform: translateX(-50%);
}

.number9 {
	top: 50%;
	left: 8px;
	transform: translateY(-50%);
}
