#nasa-widget {
	height: 30.5rem;
	width: 100%;
}

#nasa-image {
	width: 27rem;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
	background: #f6f6f6;
}

.description {
	color: #999999;
	letter-spacing: 0.9px;
	line-height: 1.3rem;
	font-size: 0.85rem;
	font-family: sans-serif;
	max-height: 90%;
	overflow: auto;
}
