.logo {
	display: flex;
	align-items: center;
	padding: 1rem;
}

.logo > img {
	height: 35px;
}

.logo-txt {
	padding-left: 7px;
	align-items: flex-start;
}

.logo-img {
	width: 2rem;
	margin-right: 3px;
}

.logo-txt h1,
.logo-txt span {
	margin: 0;
	padding: 0;
	line-height: 1;
	letter-spacing: 4px;
	color: #2e2e2e;
}

.theme-dark .logo-txt h1,
.theme-dark .logo-txt span {
	color: #fff;
}

.logo-txt h1 {
	font-weight: bolder;
	font-size: 1rem;
}

.logo-txt span {
	font-weight: lighter;
	font-size: 0.85rem;
}

.row {
	display: flex;
	align-items: center;
	padding: 1rem;
}

a {
	text-decoration: none;
}

header {
	align-items: center;
}

.second-main-row {
	gap: 0;
}
