.solar-system {
	position: relative;
}

.sun {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: yellow;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	box-shadow: 0 0 30px yellow;
}

.planet {
	position: absolute;
	top: 50%;
	left: 50%;
	transform-origin: 50% 50%;
}

.planet.mercury {
	width: 6px;
	height: 6px;
	background-color: gray;
	border-radius: 50%;
	animation: orbit1 10s linear infinite;
}

.planet.venus {
	width: 10px;
	height: 10px;
	background-color: yellowgreen;
	border-radius: 50%;
	animation: orbit2 15s linear infinite;
}

.planet.earth {
	width: 12px;
	height: 12px;
	background-color: blue;
	border-radius: 50%;
	animation: orbit3 20s linear infinite;
}

.planet.mars {
	width: 10px;
	height: 10px;
	background-color: red;
	border-radius: 50%;
	animation: orbit4 25s linear infinite;
}

.planet.jupiter {
	width: 18px;
	height: 18px;
	background-color: brown;
	border-radius: 50%;
	animation: orbit5 30s linear infinite;
}

.planet.saturn {
	width: 16px;
	height: 16px;
	background-color: lightgoldenrodyellow;
	border-radius: 50%;
	animation: orbit6 40s linear infinite;
}

.planet.uranus {
	width: 14px;
	height: 14px;
	background-color: lightblue;
	border-radius: 50%;
	animation: orbit7 45s linear infinite;
}

.planet.neptune {
	width: 14px;
	height: 14px;
	background-color: darkblue;
	border-radius: 50%;
	animation: orbit8 50s linear infinite;
}

/* Orbits */
.orbit1 {
	width: 100px;
	height: 100px;
	animation: orbit1 10s linear infinite;
}

.orbit2 {
	width: 150px;
	height: 150px;
	animation: orbit2 15s linear infinite;
}

.orbit3 {
	width: 200px;
	height: 200px;
	animation: orbit3 20s linear infinite;
}

.orbit4 {
	width: 250px;
	height: 250px;
	animation: orbit4 25s linear infinite;
}

.orbit5 {
	width: 300px;
	height: 300px;
	animation: orbit5 30s linear infinite;
}

.orbit6 {
	width: 350px;
	height: 350px;
	animation: orbit6 40s linear infinite;
}

.orbit7 {
	width: 400px;
	height: 400px;
	animation: orbit7 45s linear infinite;
}

.orbit8 {
	width: 450px;
	height: 450px;
	animation: orbit8 50s linear infinite;
}

/* Keyframes for orbit animations */
@keyframes orbit1 {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes orbit2 {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes orbit3 {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes orbit4 {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes orbit5 {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes orbit6 {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes orbit7 {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes orbit8 {
	100% {
		transform: rotate(360deg);
	}
}
