.solar-system {
	position: relative;
	width: 100%;
	height: 100%;
}
.sun {
	position: absolute;
	width: 45px;
	height: 45px;
	background: #fbff00;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0 0 30px yellow;
}

/* Orbits (static circles) */
.orbit {
	position: absolute;
	border: 1px dashed #dadada;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.orbit1 {
	width: 110px;
	height: 110px;
}
.orbit2 {
	width: 150px;
	height: 150px;
}
.orbit3 {
	width: 190px;
	height: 190px;
}
.orbit4 {
	width: 230px;
	height: 230px;
}
.orbit5 {
	width: 285px;
	height: 285px;
}
.orbit6 {
	width: 345px;
	height: 345px;
}
.orbit7 {
	width: 405px;
	height: 405px;
}
.orbit8 {
	width: 460px;
	height: 460px;
}

/* Rotation wrappers for planet movement */
.planet-orbit-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transform-origin: center;
}

/* Planet styling */
.planet {
	position: absolute;
	top: 50%;
	left: 100%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
}

.mercury {
	width: 6px;
	height: 6px;
	background: gray;
}
.venus {
	width: 10px;
	height: 10px;
	background: goldenrod;
}
.earth {
	width: 12px;
	height: 12px;
	background: royalblue;
}
.mars {
	width: 10px;
	height: 10px;
	background: orangered;
}
.jupiter {
	width: 16px;
	height: 16px;
	background: peru;
}
.saturn {
	width: 14px;
	height: 14px;
	background: khaki;
}
.uranus {
	width: 12px;
	height: 12px;
	background: lightblue;
}
.neptune {
	width: 12px;
	height: 12px;
	background: blue;
}

.rotate1 {
	animation: orbit 2.4s linear infinite;
} /* Mercury: 0.24 * 10s */
.rotate2 {
	animation: orbit 6.2s linear infinite;
} /* Venus:   0.62 * 10s */
.rotate3 {
	animation: orbit 10s linear infinite;
} /* Earth:   1.0 * 10s  */
.rotate4 {
	animation: orbit 18.8s linear infinite;
} /* Mars:    1.88 * 10s */
.rotate5 {
	animation: orbit 118.6s linear infinite;
} /* Jupiter: 11.86 * 10s */
.rotate6 {
	animation: orbit 294.6s linear infinite;
} /* Saturn:  29.46 * 10s */
.rotate7 {
	animation: orbit 840.1s linear infinite;
} /* Uranus:  84.01 * 10s */
.rotate8 {
	animation: orbit 1647.9s linear infinite;
} /* Neptune: 164.79 * 10s */

@keyframes orbit {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
