#poetry-widget {
	padding: 1rem;
	border-radius: 12px;
	font-family: serif;
	height: 100%;
}

#poetry-widget h3 {
	margin-top: 0;
}

#poem-content p {
	margin: 0.5rem 0;
	white-space: pre-wrap;
	line-height: 1.4;
}

.poem {
	overflow: auto;
	max-height: 32rem;
}
