@media screen and (max-width: 1026px) {
	.dashboard,
	#nasa-widget,
	.first-main-row {
		flex-direction: column;
	}

	.first-col,
	.flex-column.second-col,
	#nasa-image {
		width: 100%;
	}

	.flex-column.second-col {
		flex-direction: row;
	}

	.second-col .widget {
		width: 32.5%;
		height: 25.5rem !important;
	}

	.widget {
		overflow: auto;
	}

	#bmi-widget,
	#nasa-widget {
		height: 100%;
	}

	#joke-text {
		height: 72%;
	}

	.movie-quote-container {
		height: calc(100% - 2.5rem) !important;
	}
}

@media screen and (max-width: 895px) {
	.first-row,
	.flex-column.second-col,
	.third-row {
		flex-direction: column;
	}

	.first-row .widget,
	#todo-widget,
	.quotes,
	.todo,
	.second-col .widget,
	.joke,
	.cat,
	#movie-quote-widget,
	.word-widgets,
	.art-container,
	.poem-container {
		width: 100% !important;
		max-width: 100% !important;
	}

	.flex-row.third-main-row {
		flex-wrap: wrap;
	}

	#pet-image {
		height: 84%;
	}

	.quote-widget {
		height: calc(100% - 2.9rem);
	}

	.first-row .widget {
		min-height: 11rem;
	}

	.widget.stopwatch-widget {
		min-width: 23rem;
		height: 23rem;
	}

	.calculator-widget {
		height: 31rem !important;
	}

	#bmi-widget,
	.analog-clock-widget {
		height: 26rem !important;
	}

	.planet-container.widget {
		height: calc(100vw + 4rem) !important;
	}

	.countdown-timer-widget.widget {
		height: fit-content;
		width: 100%;
	}

	.countdown {
		margin-top: 1rem;
	}

	.second-main-row {
		flex-direction: column;
		height: 100% !important;
	}

	.description {
		max-height: 100%;
	}

	.cat {
		height: 44rem !important;
	}

	.orbit1 {
		width: 18vw;
		height: 18vw;
	}
	.orbit2 {
		width: 26vw;
		height: 26vw;
	}
	.orbit3 {
		width: 35vw;
		height: 35vw;
	}
	.orbit4 {
		width: 45vw;
		height: 45vw;
	}
	.orbit5 {
		width: 55vw;
		height: 55vw;
	}
	.orbit6 {
		width: 64vw;
		height: 64vw;
	}
	.orbit7 {
		width: 74vw;
		height: 74vw;
	}
	.orbit8 {
		width: 85vw;
		height: 85vw;
	}
}
