@media screen and (max-width: 1026px) {
	.dashboard,
	#nasa-widget,
	.first-main-row {
		flex-direction: column;
	}

	.first-col,
	.flex-column.second-col,
	#nasa-image {
		width: 100%;
	}

	.flex-column.second-col {
		flex-direction: row;
	}

	.second-col .widget {
		width: 32.5%;
		height: 100%;
	}

	.widget {
		overflow: auto;
	}

	#bmi-widget,
	#nasa-widget {
		height: 100%;
	}
}

@media screen and (max-width: 895px) {
	.first-row,
	.second-col,
	.third-row {
		flex-direction: column;
	}

	.first-row .widget,
	#todo-widget,
	.quotes,
	.todo,
	.second-col .widget,
	.joke,
	.cat,
	#movie-quote-widget {
		width: 100%;
		max-width: 100%;
	}

	#pet-image {
		height: 84%;
	}

	.quote-widget {
		height: calc(100% - 2.9rem);
	}

	.first-row .widget {
		min-height: 11rem;
	}

	.calculator-widget {
		height: 31rem !important;
	}

	#bmi-widget,
	.analog-clock-widget {
		height: 26rem !important;
	}
}
