@import "./art-of-day.css";
@import "./themes.css";
@import "./bmi-calculator-widget.css";
@import "./calculator-widget.css";
@import "./clock-widget.css";
@import "./fact-widget.css";
@import "./joke-widget.css";
@import "./movie-quote-widget.css";
@import "./nasa-widget.css";
@import "./pet-image-widget.css";
@import "./quote-widget.css";
@import "./todo-widget.css";
@import "./responsivity.css";
@import "./navigation-toolbar.css";

/* Basic reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.dashboard {
	max-width: 90rem;
	width: 100%;
	padding: 0 2rem;
	justify-items: center;
	margin: 1rem auto;
	gap: 1.5rem;
}

.widget {
	transition: background-color 0.3s ease, color 0.3s ease;
	padding: 1rem;
	border-radius: 8px;
}

h3 {
	text-align: start;
	letter-spacing: 1px;
	font-weight: 400;
	font-family: sans-serif;
	margin-bottom: 0.5rem;
}

button {
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
}

input {
	padding: 10px;
	margin: 5px 0;
	width: 49%;
	border-radius: 5px;
	border: 1px solid #ddd;
}

.flex-row {
	display: flex;
	gap: 1.5rem;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.second-row {
	height: 30.5rem;
}

.second-row .widget,
.third-row .widget {
	height: 100%;
}

.third-row .flex-column {
	height: 25rem;
}

.quotes {
	width: 57.5%;
	gap: 1.5rem;
}

.quotes .widget {
	height: 10.5rem;
}

.space_between {
	justify-content: space-between;
}

.end {
	justify-content: flex-end;
}

.no-margin {
	margin-bottom: 0.5rem !important;
}

#container {
	height: 15.5rem;
}

.third-row,
.second-row,
.first-row {
	min-height: fit-content;
}

.custom-btn {
	padding: 0.6rem 0.6rem 0;
	border-radius: 5px;
}

.second-col {
	width: 27%;
	gap: 1.5rem;
}

.word-widgets {
	width: 30%;
}

::-webkit-scrollbar {
	height: 5px;
	width: 5px;
}

::-webkit-scrollbar-thumb {
	background: #cecece;
	width: 5px;
}

::-webkit-scrollbar-track {
	background: transparent;
	width: 5px;
}

::-webkit-scrollbar-corner {
	background: transparent;
}
