/* Basic reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.dashboard {
	max-width: 90rem;
	width: 100%;
	padding: 0 2rem;
	justify-items: center;
	margin: 1rem auto;
	gap: 1.5rem;
}

#nasa-widget {
	height: 30.5rem;
	width: 100%;
}

.calculator-widget {
	height: 30.5rem;
}

#nasa-image {
	width: 27rem;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
}

.analog-clock-widget {
	display: flex;
	flex-direction: column;
	height: 22.5rem;
	min-width: fit-content;
}

.clock {
	position: relative;
	width: 220px;
	height: 220px;
	border-radius: 50%;
	margin: auto;
}

.widget {
	transition: background-color 0.3s ease, color 0.3s ease;
	padding: 1rem;
	border-radius: 8px;
}

/* Hands */
.hand {
	position: absolute;
	bottom: 50%;
	left: 50%;
	transform-origin: bottom;
	transform: translateX(-50%) rotate(0deg);
}

.hour {
	width: 6px;
	height: 50px;
	z-index: 3;
}

.minute {
	width: 5px;
	height: 75px;
	z-index: 2;
}

.second {
	width: 2px;
	height: 90px;
	background-color: #ffb6b6;
	z-index: 1;
}

/* Center dot */
.center-dot {
	position: absolute;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 5;
}

/* Numbers */
.number {
	position: absolute;
	font-size: 1.1rem;
	font-weight: bold;
}

.number12 {
	top: 8px;
	left: 50%;
	transform: translateX(-50%);
}

.number3 {
	top: 50%;
	right: 8px;
	transform: translateY(-50%);
}

.number6 {
	bottom: 8px;
	left: 50%;
	transform: translateX(-50%);
}

.number9 {
	top: 50%;
	left: 8px;
	transform: translateY(-50%);
}

h2 {
	text-align: start;
	letter-spacing: 1px;
	font-weight: 400;
	font-family: sans-serif;
	margin-bottom: 1rem;
}

button {
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
}

input {
	padding: 10px;
	margin: 5px 0;
	width: 49%;
	border-radius: 5px;
	border: 1px solid #ddd;
}

#pet-image {
	height: 20rem;
	width: 100%;
	border-radius: 5px;
	object-fit: cover;
}

.flex-row {
	display: flex;
	gap: 1.5rem;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.calculator {
	padding: 1rem;
	border-radius: 10px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	min-width: fit-content;
}

.calc-display {
	width: 100%;
	font-size: 1.5rem;
	text-align: right;
	padding: 0.5rem;
	margin-bottom: 1rem;
	border: none;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: inset 0 2px 4px rgb(0 0 0 / 35%);
}

.calc-buttons {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 0.5rem;
}

.btn {
	padding: 1rem;
	font-size: 1.2rem;
	background-color: transparent;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	transition: background-color 0.2s;
}

.btn:hover {
	background-color: transparent;
}

.op {
	background-color: #ffb963;
	box-shadow: 0 0px 2px #d9994a;
}

.op:hover {
	background-color: #ffb963;
}

.equals {
	background-color: #78d6a7;
	grid-column: span 1;
	box-shadow: 0 0px 2px #65c093;
}

.equals:hover {
	background-color: #78d6a7;
}

.clear {
	grid-column: span 4;
	background-color: #f27c7c;
	box-shadow: 0 0px 2px #f27c7c;
}

.clear:hover {
	background-color: #f27c7c;
}

.cat {
	max-width: 25rem;
	width: 34%;
}

.second-row {
	height: 30.5rem;
}

.second-row .widget,
.third-row .widget {
	height: 100%;
}

.third-row .flex-column {
	height: 25rem;
}

#bmi-widget,
#movie-quote-widget {
	height: 25rem;
}

#bmi-result {
	text-align: center;
	color: #adadad;
}

.quotes {
	width: 57.5%;
	gap: 1.5rem;
}

.quotes .widget {
	height: 10.5rem;
}

ul {
	list-style: none;
	overflow: auto;
	max-height: 18rem;
	padding-right: 1rem;
}

li.flex-row {
	text-transform: capitalize;
	padding: 1rem;
	border-bottom: 1px solid #d3d3d3;
	font-size: 0.9rem;
	margin-bottom: 0 !important;
}

.space_between {
	justify-content: space-between;
}

.end {
	justify-content: flex-end;
}

.description {
	color: #999999;
	letter-spacing: 0.9px;
	line-height: 1.3rem;
	font-size: 0.85rem;
	font-family: sans-serif;
	max-height: 90%;
	overflow: auto;
}

.todo {
	width: 40%;
}

#todo-widget {
	max-height: 22.5rem;
	overflow: hidden;
	height: 100%;
}

#nasa-title,
.no-margin {
	margin-bottom: 0.5rem !important;
}

#dog-button,
#cat-button,
#quote-button {
	cursor: pointer;
}

.pet-title {
	display: flex;
	justify-content: space-between;
}

#quote-text {
	font-size: 1.2rem;
	font-style: italic;
	display: inline;
}

.quote-open,
.quote-close {
	font-size: 1.8rem;
	line-height: 1;
	position: relative;
	top: 2px;
	font-style: italic;
	opacity: 0.5;
}

.quote-close {
	vertical-align: bottom;
}

#quote-author {
	font-size: 1rem;
	font-weight: bold;
	color: #767676;
	text-align: end;
}

.quote-widget {
	display: flex;
	flex-direction: column;
	height: calc(100% - 2.5rem);
	justify-content: space-between;
	overflow: auto;
}

.fun-fact-widget {
	border: 2px solid #c2d3e7;
	border-radius: 1rem;
	text-align: center;
	font-family: "Comic Sans MS", "Segoe UI", sans-serif;
	transition: background-color 0.3s ease;
}

.fun-fact-widget p {
	font-size: 1.1rem;
	color: #444;
	margin: 0.75rem 0 0;
	transition: opacity 0.3s ease;
	overflow: auto;
	max-height: calc(100% - 1.5rem);
}

#fact-button {
	cursor: pointer;
}

#joke-widget {
	border-radius: 12px;
	padding: 20px;
	font-family: "Segoe UI", sans-serif;
	color: #4e342e;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
	text-align: center;
}

#joke-text {
	font-size: 1.1rem;
	line-height: 1.4;
	margin-bottom: 15px;
	min-height: 60px;
}

.joke-refresh {
	font-size: 1.5rem;
	background: none;
	border: none;
	cursor: pointer;
	transition: transform 0.2s ease;
}

#movie-quote-widget {
	padding: 1rem;
	border-radius: 12px;
	max-width: 22rem;
	font-family: "Georgia", serif;
	position: relative;
	width: 32%;
}

.quote {
	font-style: italic;
	font-size: 1.2rem;
	margin-bottom: 2srem;
	line-height: 1.4;
	position: relative;
	color: #878787;
}

.meta {
	font-size: 0.95rem;
	color: #666;
	text-align: end;
}

.character {
	font-weight: bold;
	color: #666;
}

.actor {
	font-style: italic;
	color: #777;
}

.movie-title {
	font-weight: 500;
}

.year {
	color: #999;
}

.refresh-btn {
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	background: none;
	border: none;
	font-size: 1.4rem;
	cursor: pointer;
	transition: transform 0.2s ease;
}

.refresh-btn:hover {
	transform: rotate(20deg);
}

.movie-quote-container {
	height: calc(100% - 4.5rem) !important;
}

.highcharts-figure,
.highcharts-data-table table {
	min-width: 320px;
	max-width: 500px;
	margin: 1em auto;
}

.highcharts-figure {
	padding: 0;
}

#container {
	height: 15.5rem;
}

.highcharts-description {
	margin: 0.3rem 10px;
}

.third-row,
.second-row,
.first-row {
	min-height: fit-content;
}

.joke {
	width: 29%;
	max-width: 18rem;
}

.custom-btn {
	padding: 0.6rem 0.6rem 0;
	border-radius: 5px;
}
.art-container {
	width: 49%;
	height: 40rem;
}

#art-of-the-day {
	height: 100%;
}

#art-of-the-day img {
	width: 100%;
	height: 80%;
	object-fit: cover;
	border-radius: 8px;
	margin-top: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#art-of-the-day p,
#art-of-the-day small {
	margin: 6px 0;
	color: var(--text-color);
	font-size: 0.9rem;
	text-align: center;
}

.first-col {
	width: 70%;
	gap: 1.5rem;
}

.second-col {
	width: 27%;
	gap: 1.5rem;
}

@media screen and (max-width: 1026px) {
	.dashboard,
	#nasa-widget {
		flex-direction: column;
	}

	.first-col,
	.second-col,
	#nasa-image {
		width: 100%;
	}

	.second-col {
		flex-direction: row;
	}

	.second-col .widget {
		width: 32.5%;
		height: 100%;
	}

	.widget {
		overflow: auto;
	}

	#bmi-widget {
		height: 100%;
	}
}

@media screen and (max-width: 895px) {
	.first-row,
	.second-col,
	.third-row {
		flex-direction: column;
	}

	.first-row .widget,
	#todo-widget,
	.quotes,
	.todo,
	.second-col .widget,
	.joke,
	.cat,
	#movie-quote-widget {
		width: 100%;
		max-width: 100%;
	}

	#pet-image {
		height: 84%;
	}

	.quote-widget {
		height: calc(100% - 2.9rem);
	}

	.first-row .widget {
		min-height: 11rem;
	}

	.calculator-widget {
		height: 31rem !important;
	}

	#bmi-widget,
	.analog-clock-widget {
		height: 26rem !important;
	}
}

::-webkit-scrollbar {
	height: 5px;
	width: 5px;
}

::-webkit-scrollbar-thumb {
	background: #cecece;
	width: 5px;
}

::-webkit-scrollbar-track {
	background: transparent;
	width: 5px;
}

::-webkit-scrollbar-corner {
	background: transparent;
}

.logo {
	display: flex;
	align-items: center;
	padding: 1rem;
}

.logo > img {
	height: 35px;
}

.logo-txt {
	padding-left: 7px;
	align-items: flex-start;
}

.logo-img {
	width: 2rem;
	margin-right: 3px;
}

.logo-txt h1,
.logo-txt span {
	margin: 0;
	padding: 0;
	line-height: 1;
	letter-spacing: 4px;
	color: #2e2e2e;
}

.theme-dark .logo-txt h1,
.theme-dark .logo-txt span {
	color: #fff;
}

.logo-txt h1 {
	font-weight: bolder;
	font-size: 1rem;
}

.logo-txt span {
	font-weight: lighter;
	font-size: 0.85rem;
}

.row {
	display: flex;
	align-items: center;
	padding: 1rem;
}

a {
	text-decoration: none;
}

header {
	align-items: center;
}

.second-main-row {
	gap: 0;
}
