@import "./art-of-day.css";
@import "./themes.css";
@import "./bmi-calculator-widget.css";
@import "./calculator-widget.css";
@import "./clock-widget.css";
@import "./fact-widget.css";
@import "./joke-widget.css";
@import "./movie-quote-widget.css";
@import "./nasa-widget.css";

/* Basic reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.dashboard {
	max-width: 90rem;
	width: 100%;
	padding: 0 2rem;
	justify-items: center;
	margin: 1rem auto;
	gap: 1.5rem;
}

.widget {
	transition: background-color 0.3s ease, color 0.3s ease;
	padding: 1rem;
	border-radius: 8px;
}

h3 {
	text-align: start;
	letter-spacing: 1px;
	font-weight: 400;
	font-family: sans-serif;
	margin-bottom: 0.5rem;
}

button {
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
}

input {
	padding: 10px;
	margin: 5px 0;
	width: 49%;
	border-radius: 5px;
	border: 1px solid #ddd;
}

#pet-image {
	height: 20rem;
	width: 100%;
	border-radius: 5px;
	object-fit: cover;
}

.flex-row {
	display: flex;
	gap: 1.5rem;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.cat {
	max-width: 25rem;
	width: 34%;
}

.second-row {
	height: 30.5rem;
}

.second-row .widget,
.third-row .widget {
	height: 100%;
}

.third-row .flex-column {
	height: 25rem;
}

.quotes {
	width: 57.5%;
	gap: 1.5rem;
}

.quotes .widget {
	height: 10.5rem;
}

ul {
	list-style: none;
	overflow: auto;
	max-height: 18rem;
	padding-right: 1rem;
}

li.flex-row {
	text-transform: capitalize;
	padding: 1rem;
	border-bottom: 1px solid #d3d3d3;
	font-size: 0.9rem;
	margin-bottom: 0 !important;
}

.space_between {
	justify-content: space-between;
}

.end {
	justify-content: flex-end;
}

.todo {
	width: 40%;
}

#todo-widget {
	max-height: 22.5rem;
	overflow: hidden;
	height: 100%;
}

.no-margin {
	margin-bottom: 0.5rem !important;
}

#dog-button,
#cat-button,
#quote-button {
	cursor: pointer;
}

.pet-title {
	display: flex;
	justify-content: space-between;
}

#quote-text {
	font-size: 1.2rem;
	font-style: italic;
	display: inline;
}

.quote-open,
.quote-close {
	font-size: 1.8rem;
	line-height: 1;
	position: relative;
	top: 2px;
	font-style: italic;
	opacity: 0.5;
}

.quote-close {
	vertical-align: bottom;
}

#quote-author {
	font-size: 1rem;
	font-weight: bold;
	color: #767676;
	text-align: end;
}

.quote-widget {
	display: flex;
	flex-direction: column;
	height: calc(100% - 2.5rem);
	justify-content: space-between;
	overflow: auto;
}

.refresh-btn {
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	background: none;
	border: none;
	font-size: 1.4rem;
	cursor: pointer;
	transition: transform 0.2s ease;
}

.refresh-btn:hover {
	transform: rotate(20deg);
}

#container {
	height: 15.5rem;
}

.third-row,
.second-row,
.first-row {
	min-height: fit-content;
}

.custom-btn {
	padding: 0.6rem 0.6rem 0;
	border-radius: 5px;
}

.second-col {
	width: 27%;
	gap: 1.5rem;
}

@media screen and (max-width: 1026px) {
	.dashboard,
	#nasa-widget {
		flex-direction: column;
	}

	.first-col,
	.second-col,
	#nasa-image {
		width: 100%;
	}

	.second-col {
		flex-direction: row;
	}

	.second-col .widget {
		width: 32.5%;
		height: 100%;
	}

	.widget {
		overflow: auto;
	}

	#bmi-widget {
		height: 100%;
	}
}

@media screen and (max-width: 895px) {
	.first-row,
	.second-col,
	.third-row {
		flex-direction: column;
	}

	.first-row .widget,
	#todo-widget,
	.quotes,
	.todo,
	.second-col .widget,
	.joke,
	.cat,
	#movie-quote-widget {
		width: 100%;
		max-width: 100%;
	}

	#pet-image {
		height: 84%;
	}

	.quote-widget {
		height: calc(100% - 2.9rem);
	}

	.first-row .widget {
		min-height: 11rem;
	}

	.calculator-widget {
		height: 31rem !important;
	}

	#bmi-widget,
	.analog-clock-widget {
		height: 26rem !important;
	}
}

::-webkit-scrollbar {
	height: 5px;
	width: 5px;
}

::-webkit-scrollbar-thumb {
	background: #cecece;
	width: 5px;
}

::-webkit-scrollbar-track {
	background: transparent;
	width: 5px;
}

::-webkit-scrollbar-corner {
	background: transparent;
}

.logo {
	display: flex;
	align-items: center;
	padding: 1rem;
}

.logo > img {
	height: 35px;
}

.logo-txt {
	padding-left: 7px;
	align-items: flex-start;
}

.logo-img {
	width: 2rem;
	margin-right: 3px;
}

.logo-txt h1,
.logo-txt span {
	margin: 0;
	padding: 0;
	line-height: 1;
	letter-spacing: 4px;
	color: #2e2e2e;
}

.theme-dark .logo-txt h1,
.theme-dark .logo-txt span {
	color: #fff;
}

.logo-txt h1 {
	font-weight: bolder;
	font-size: 1rem;
}

.logo-txt span {
	font-weight: lighter;
	font-size: 0.85rem;
}

.row {
	display: flex;
	align-items: center;
	padding: 1rem;
}

a {
	text-decoration: none;
}

header {
	align-items: center;
}

.second-main-row {
	gap: 0;
}
