:root {
	--bg-color: #f7f7f7;
	--text-color: #333;
	--card-bg: white;
	--accent-color: #007bff;
	--clock-hands: #383838;
	--clock-shadow: #0000001f;
	--title-color: #525252;
	--btn-background: #f9f9f9;
	--btn-hover: #e7e5e5;
	--contrast-color: #000;
	--calculator-shadow: #00000059;
	--border-color: #d3d3d3;
	--joke-background: #fffbf6;
	--joke-border: #ffe0b2;
	--light-blue: #f3faff;
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
	font-family: Arial, sans-serif;
	margin: 0;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.widget {
	background-color: var(--card-bg);
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.theme-light {
	--bg-color: #f7f7f7;
	--text-color: #333;
	--card-bg: white;
	--accent-color: #0066ff;
	--clock-hands: #383838;
	--clock-shadow: #0000001f;
	--title-color: #525252;
	--btn-background: #f9f9f9;
	--btn-hover: #e7e5e5;
	--contrast-color: #000;
	--calculator-shadow: #00000059;
	--border-color: #d3d3d3;
	--joke-background: #fffbf6;
	--joke-border: #ffe0b2;
	--light-blue: #f3faff;
}

.theme-dark {
	--bg-color: #121212;
	--text-color: #e0e0e0;
	--card-bg: #1f1f1f;
	--accent-color: #bb86fc;
	--clock-hands: #e5e5e5;
	--clock-shadow: #ffffff54;
	--title-color: #c5bfbf;
	--btn-background: #404040;
	--btn-hover: #545454;
	--contrast-color: #fff;
	--calculator-shadow: #0000008f;
	--border-color: #4a4a4a;
	--joke-background: #ffa243;
	--joke-border: #f39331;
	--light-blue: #abd2ff;
}

#theme-toggle button {
	background: none;
	border: none;
	cursor: pointer;
	font-size: 1.5rem;
	color: var(--text-color);
	transition: transform 0.3s ease;
}

#theme-toggle button:hover {
	transform: scale(1.1);
}

.clock {
	box-shadow: 0 0 15px var(--clock-shadow);
}

.hour,
.minute,
.center-dot {
	background-color: var(--clock-hands);
}

.number,
.btn:not(.op, .equals, .clear),
.stopwatch-controls button,
.controls button {
	color: var(--clock-hands);
}

h2,
#quote-text {
	color: var(--title-color);
}

button,
.custom-btn {
	background-color: var(--btn-background);
}

button:hover,
.custom-btn:hover {
	background-color: var(--btn-hover);
}

.quote-open,
.quote-close {
	color: var(--contrast-color);
}

.calc-buttons .btn {
	box-shadow: 0 0px 2px var(--border-color);
}

.calc-buttons .btn:hover {
	box-shadow: inset 0 2px 4px var(--calculator-shadow);
}

.calculator {
	border: 1px solid var(--border-color);
}

#joke-widget {
	background-color: var(--joke-background);
	border: 2px solid var(--joke-border);
}

.theme-dark #joke-widget h2,
.theme-dark #fact-widget h2 {
	color: #242424;
}

#fact-widget {
	background-color: var(--light-blue);
}

.theme-dark #fact-widget {
	border-color: #88b1e1;
}
