.history-widget {
	height: 52%;
}

.history-widget ul {
	padding: 0;
	list-style: none;
	max-height: 90%;
}

.history-widget li {
	margin-bottom: 0.75rem;
	line-height: 1.4;
	border: none;
	padding: 0.3rem;
	text-transform: none;
}

.history-widget a {
	font-size: 0.85rem;
	font-weight: 600;
	color: var(--text-color);
}

.timeline-event {
	position: relative;
	display: inline-block;
	margin-bottom: 1rem;
	padding-bottom: 0.5rem;
	width: fit-content;
	min-width: 4rem;
	text-align: center;
}

.timeline-event::after {
	content: "";
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 25px;
	width: 1px;
	height: 90%;
	background-color: #c3c3c3;
}

.event-details {
	color: var(--title-color);
	width: 32rem;
}
