#word-of-the-day {
	height: 45%;
}

.word-card h3 {
	font-size: 1.6rem;
	margin-bottom: 0.3rem;
}

.word-card .phonetic {
	color: var(--widget-accent);
	font-style: italic;
	margin-bottom: 1.5rem;
}

#play-audio {
	background: none;
	padding: 0.3rem 0.6rem;
	border-radius: 5px;
	cursor: pointer;
	margin-left: 0.5rem;
	color: var(--title-color);
}

.word-card {
	height: 75%;
}
